---
import CutCornerButton from '../components/CutCornerButton';
import PostContent from '../components/PostContent.astro';
import PostHero from '../components/PostHero.astro';
import DefaultLayout from '../layouts/Default.astro';
import Input from '../components/Input.astro';
import Textarea from '../components/Textarea.astro';
---

<DefaultLayout>
  <PostHero>
    <p class="uppercase text-center text-zinc-500 font-extrabold tracking-wider">Let's talk</p>
    <h1 class="font-heading font-black text-5xl md:text-6xl lg:text-7xl text-center mt-4">Contact Us</h1>
    <p class="text-center text-xl md:text-2xl mt-6 text-zinc-400 max-w-xl mx-auto">We're here to help and answer any questions you may have.Reach out to us to learn more about our services, get support, or to apply for positions.</p>
  </PostHero>

  <PostContent>
    <div class="maw-w-xl mx-auto">
      <h2 class="font-heading font-black text-3xl md:text-4xl lg:text-5xl">What can we help you with?</h2>
      <form class="flex flex-col mt-8" name="contact" method="POST" data-netlify="true">
        <label for="name">Name</label>
        <Input type="text"
               name="name"
               id="name"
               class="mt-1"
        />

          <label for="email"
                 class="mt-4">Email</label>
          <Input type="email"
                 name="email"
                 id="email"
                 class="mt-1"
          />

          <label for="message"
                 class="mt-4">Message</label>
          <Textarea name="message"
                    id="message"
                    class="mt-1"
          />

          <CutCornerButton className="mt-8">Send Message</CutCornerButton>
      </form>
    </div>
  </PostContent>
</DefaultLayout>