---
import Hexagon from './Hexagon';
---

<section class="py-60 relative overflow-x-clip">
  <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
    <Hexagon client:load
             size={800}
             duration={30}/>
  </div>
  <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
    <Hexagon client:load
             size={1200}
             duration={40}
             reverse/>
  </div>
  <div class="container">
    <slot/>
  </div>
</section>